// theme fonts
$title-font: 'Overpass Mono', monospace;
$main-font: 'Roboto', sans-serif;

// theme colours
$lightest-color: white;
$light-color: #F2C1BD;
$dark-color: #324759;
$darkest-color: #0F1B26;


html {
    scroll-behavior: smooth;
    body {
        padding-top: 50px;
        background-color: $darkest-color;
        color: $lightest-color;
        font-family: $main-font;
    }
}

.heading {
    margin-bottom: 25px;
}

.navbar {
	background-color:$darkest-color;
    color: $lightest-color;
    border-bottom: 2px solid $light-color;
}

.section {
    background-color: $darkest-color;
    margin-bottom: 0;
    padding-bottom: 0;
    padding-top: 80px;
    border-bottom: 2px solid $light-color;
    min-height: 100vh;
}

// LANDING PAGE 

#title-page {
    height: calc(100vh - 50px);
    border-bottom: 2px solid $light-color;
}

#title-image {
    min-height: 100vh;
    width: 100vw;
    object-fit: cover;
    margin: 0;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -2;
}

// size of title image
    // add media response here so that title changes size with viewport size 
$main-title-height: 65px;
$sub-title-height: 20px;

#title #main-title {
    position: fixed;
    height: $main-title-height;
    top: -moz-calc(50% - #{$main-title-height});
    top: -webkit-calc(50% - #{$main-title-height});
    top: -o-calc(50% - #{$main-title-height});
    top: calc(50% - #{$main-title-height});
    z-index: -1;
}

// spacing between titles
$title-spacing: 10px;

#title #sub-title {
    position: fixed;
    height: $sub-title-height;
    top: -moz-calc(50% + #{$title-spacing});
    top: -webkit-calc(50% + #{$title-spacing});
    top: -o-calc(50% + #{$title-spacing});
    top: calc(50% + #{$title-spacing});
    z-index: -1;
}


/* Timeline holder */
ul.timeline {
    list-style-type: none;
    position: relative;
    padding-left: 1.5rem;
    color: $darkest-color;
}

 /* Timeline vertical line */
ul.timeline:before {
    content: ' ';
    background: $lightest-color;
    display: inline-block;
    position: absolute;
    left: 16px;
    width: 4px;
    height: 100%;
    z-index: 400;
    border-radius: 1rem;
}

li.timeline-item {
    margin: 20px 0;
}

/* Timeline item arrow */
.timeline-arrow {
    border-top: 0.5rem solid transparent;
    border-right: 0.5rem solid $lightest-color;
    border-bottom: 0.5rem solid transparent;
    display: block;
    position: absolute;
    left: 2rem;
}

/* Timeline item circle marker */
li.timeline-item::before {
    content: ' ';
    background: $darkest-color;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid $lightest-color;
    left: 11px;
    width: 14px;
    height: 14px;
    z-index: 400;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

// Cards for projects and expeditions 
.card-title {
    color: $darkest-color;
}

.card-text {
    color: $darkest-color;
}

// Contact tiles for contact page 
.contactTile {
    --size-contact-tile: 5.5rem;
    height: var(--size-contact-tile);
    width: var(--size-contact-tile);

    i { 
        font-size: calc(var(--size-contact-tile)*0.7);
        color: $dark-color;
        z-index: 4;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
    }
    p {
        font-family: 'Open Sans', sans-serif;
        font-size: calc(var(--size-contact-tile)*0.2);
        color: $lightest-color;
        z-index: 3;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,180%);
    }
    .circle {
        width: 100%;
        height: 100%;
        background: $light-color;
        border-radius: 50%;
        z-index: 1;
    }
    .circle:hover {
        background: $lightest-color;
    }
}