#title-page {
    height: 100vh;
    background-image: url("images/hg2018-3237.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-attachment: center center;
}